body {
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100vh;
}

#canvas {
    flex: 1 1 auto;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu>button {
    padding: 8px;
}
